In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://truongvude:7077") \
    .appName("test") \
    .getOrCreate()

24/06/08 00:21:06 WARN Utils: Your hostname, truongvude resolves to a loopback address: 127.0.1.1; using 192.168.0.105 instead (on interface wlp4s0)
24/06/08 00:21:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/08 00:21:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet("data/pq/green/*/*")

In [4]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       1| 2020-01-03 19:00:01|  2020-01-03 19:05:48|                 N|         1|         244|         116|              1|          1.0|        6.0|  1.0|    0.5|       1.0|         0.0|     NULL|                  0.3|         8.8|           1|        1|                 0.0|
|       2| 2020-01-29 19:55:01|  2020-01-29 19:59:12|                 N|         1|         166|          24|              1|         0.82|        5.0|  1.0|    0.5|      1.36|         0.0|     NULL|                  0.3|        8.16|           1|        1|                 0.0|
|       1| 2020-01-02 10:20:42|  2020-01-02 10:21:07|                 N|         1|         145|         145|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         3.3|           2|        1|                 0.0|
|    NULL| 2020-01-23 10:24:00|  2020-01-23 10:33:00|              NULL|      NULL|         101|         203|           NULL|         4.88|      28.74| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|       31.79|        NULL|     NULL|                NULL|
|       2| 2020-01-12 17:30:50|  2020-01-12 17:34:31|                 N|         1|          74|          74|              1|         0.34|        4.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.3|           2|        1|                 0.0|
|       2| 2020-01-27 19:33:09|  2020-01-27 19:40:47|                 N|         1|         134|         135|              5|         1.59|        7.5|  1.0|    0.5|      2.79|         0.0|     NULL|                  0.3|       12.09|           1|        1|                 0.0|
|       2| 2020-01-24 21:25:12|  2020-01-24 21:27:41|                 N|         1|          42|          42|              1|         0.74|        4.5|  0.5|    0.5|      1.45|         0.0|     NULL|                  0.3|        7.25|           1|        1|                 0.0|
|       2| 2020-01-04 17:06:40|  2020-01-04 17:23:26|                 N|         1|          82|         223|              2|         4.34|       15.5|  0.0|    0.5|      3.26|         0.0|     NULL|                  0.3|       19.56|           1|        1|                 0.0|
|    NULL| 2020-01-07 05:46:00|  2020-01-07 06:09:00|              NULL|      NULL|         222|          80|           NULL|         5.74|      26.33| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.3|       29.88|        NULL|     NULL|                NULL|
|    NULL| 2020-01-08 17:18:00|  2020-01-08 17:51:00|              NULL|      NULL|         226|         167|           NULL|          6.5|       21.5|  0.0|    0.0|       0.0|        6.12|     NULL|                  0.3|       27.92|        NULL|     NULL|                NULL|
|       2| 2020-01-03 15:02:31|  2020-01-03 15:10:40|                 N|         1|          41|          42|              1|         0.98|        6.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|           2|        1|                 0.0|
|       2| 2020-01-07 06:44:09|  2020-01-07 07:00:49|                 N|         1|          42|         151|              1|         2.65|       11.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        12.3|           2|        1|                 0.0|
|    NULL| 2020-01-03 13:30:00|  2020-01-03 13:49:00|              NULL|      NULL|         181|          17|           NULL|         2.68|      13.02|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|       13.32|        NULL|     NULL|                NULL|
|       1| 2020-01-14 14:23:30|  2020-01-14 14:24:26|                 N|         1|         181|         181|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         3.3|           4|        1|                 0.0|
|    NULL| 2020-01-19 22:11:00|  2020-01-19 23:00:00|              NULL|      NULL|         142|          76|           NULL|        10.55|      44.64| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|       47.69|        NULL|     NULL|                NULL|
|    NULL| 2020-01-03 09:30:00|  2020-01-03 09:55:00|              NULL|      NULL|         177|          25|           NULL|         5.25|      25.95| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|        29.0|        NULL|     NULL|                NULL|
|       2| 2020-01-08 10:41:32|  2020-01-08 11:02:04|                 N|         1|          95|         205|              2|         6.35|       21.0|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        21.8|           2|        1|                 0.0|
|       2| 2020-01-27 23:39:43|  2020-01-27 23:54:21|                 N|         1|         166|         236|              1|          3.5|       13.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|       17.55|           2|        1|                2.75|
|       2| 2020-01-29 20:00:42|  2020-01-29 20:08:36|                 N|         1|          65|          87|              1|         2.04|        8.5|  0.5|    0.5|      2.51|         0.0|     NULL|                  0.3|       15.06|           1|        1|                2.75|
|       1| 2020-01-25 22:35:32|  2020-01-25 22:50:11|                 N|         1|         255|         148|              1|          2.8|       12.5| 3.25|    0.5|       3.3|         0.0|     NULL|                  0.3|       19.85|           1|        1|                2.75|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*")

In [6]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [7]:
df_green = df_green \
    .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

In [8]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [30]:
df_yellow = df_yellow \
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [9]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for column in df_green.columns:
    if column in yellow_columns:
        common_columns.append(column)

In [10]:
from pyspark.sql import functions as F

In [11]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn("service_type", F.lit("green"))

In [12]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn("service_type", F.lit("yellow"))

In [13]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [14]:
df_trips_data.groupBy("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

24/06/08 00:31:49 ERROR StandaloneSchedulerBackend: Application has been killed. Reason: Master removed our application: KILLED
24/06/08 00:31:49 ERROR Inbox: Ignoring error
org.apache.spark.SparkException: Exiting due to error from cluster scheduler: Master removed our application: KILLED
	at org.apache.spark.errors.SparkCoreErrors$.clusterSchedulerError(SparkCoreErrors.scala:291)
	at org.apache.spark.scheduler.TaskSchedulerImpl.error(TaskSchedulerImpl.scala:981)
	at org.apache.spark.scheduler.cluster.StandaloneSchedulerBackend.dead(StandaloneSchedulerBackend.scala:165)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint.markDead(StandaloneAppClient.scala:263)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint$$anonfun$receive$1.applyOrElse(StandaloneAppClient.scala:170)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:115)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1570)

In [37]:
df_trips_data.registerTempTable("trips_data")

In [38]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc("month", "pickup_datetime") AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM 
    trips_data
GROUP BY 
    1, 2, 3
""")

In [40]:
df_result.write.parquet("data/report/revenue/", mode="overwrite")